{{ define "homepage/table.html" }}
<div class="container-sm">
  <div class="table-responsive-sm">
  <table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th scope="col">{{.config.DateCalculated}}</th>
    <th scope="col">05:00</th>
    <th scope="col">18:00</th>
    <th scope="col">22:00</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">Given</th>
    <td>{{.config.Feed1.Amountgiven}}</td>
    <td>{{.config.Feed2.Amountgiven}}</td>
    <td>{{.config.Feed3.Amountgiven}}</td>
  </tr>
  <tr>
    <th scope="row">Wanted</th>
    <td>{{.config.Feed1.Wanted}}</td>
    <td>{{.config.Feed2.Wanted}}</td>
    <td>{{.config.Feed3.Wanted}}</td>
  </tr>
  <tr>
    <th scope="row">Deviation</th>
    <td>{{.config.Feed1.Deviation}}</td>
    <td>{{.config.Feed2.Deviation}}</td>
    <td>{{.config.Feed3.Deviation}}</td>
  </tr>
  <tr>
    <th scope="row">Time</th>
    <td>{{.config.Feed1.Time}}</td>
    <td>{{.config.Feed2.Time}}</td>
    <td>{{.config.Feed3.Time}}</td>
  </tr>
  </tbody>
</table>
</div>
</div>
 {{ end }}